@import utils.*

@(post: Post)(implicit request: RequestHeader)

<div style="display: flex;
    justify-content: space-evenly;
    align-items: start;
    align-content: start">
    <div >
        <h2>Description</h2>
        <p>@post.getDescription</p>
    </div>
    <div>
        <div>
            <div title="@displayDateTime(post.getCreatedAt)">Added on @displayDate(post.getCreatedAt) by @post.getUser</div>
            <img src="@routes.Assets.versioned(post.getImagePath)" width="400px" alt="placeholder"/>
        </div>
    </div>
    <div>
        <div>
            <h2>Comments</h2>
            <div style="display: flex;
                align-items: center">
                <div>@post.getLikes.length </div>
                @helper.form(action = routes.FeedController.likedPost(post.getId, request.getQueryString("sort"), request.getQueryString("ord"))) {
                    @helper.CSRF.formField
                    @if(post.hasUserLiked("test")) {
                        @likeButtonLiked()
                    } else {
                        @likeButton()
                    }
                }
            </div>
        </div>
        <div>
            <div>
                @for(comment <- post.getComments.take(3)) {
                    <div>@comment.user: @comment.content</div>
                }
                @if(post.getComments.length > 3) {
                    <button>See More</button>
                }

            </div>
        </div>
    </div>
</div>
