@import utils.*

@(post: Post)(implicit request: RequestHeader)

<div style="display: flex;
    justify-content: space-between;
    padding: 50px">
    <div style="min-width: 20%;">
        <h4>Description</h4>
        <p>@post.getDescription</p>
    </div>
    <div style="display: flex;
        justify-content: center;
        min-width: 60%
    ">
        <div>
            <div title="@displayDateTime(post.getCreatedAt)">Added on @displayDate(post.getCreatedAt) by @post.getUser</div>
            <img src="@routes.Assets.versioned(post.getImagePath)" width="500" alt="placeholder"/>
        </div>
    </div>
    <div style="display: flex;
        flex-direction: column;
        min-width: 20%;
        padding-top: 20px;
        padding-bottom: 20px">
        <div style="display: flex">
            <div>@post.getLikes.length</div>
            @helper.form(action = routes.FeedController.likedPost(post.getId, request.getQueryString("sort"), request.getQueryString("ord"))) {
                @helper.CSRF.formField
                @if(post.hasUserLiked(utils.getSessionUsername(request.session).get)) {
                    @likeButtonLiked()
                } else {
                    @likeButton()
                }
            }
        </div>
        <div style="flex-grow: 1">
            <div style="display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px">
                <h4>Comments</h4>

                @for(comment <- post.getComments.take(5)) {
                    <div>@comment.user: @comment.content</div>
                }
            </div>
        </div>
        <div style="">
            <a href="@routes.PostController.index(post.getId)">
                <button>See More</button>
            </a>
        </div>
    </div>
</div>
