@import utils.*

@(post: Post)(implicit request: RequestHeader)
<div style="display: flex;
    justify-content: space-evenly;
    align-items: start;
    align-content: start">
    <div>
        <div>
            <div title="@displayDateTime(post.getCreatedAt)">Added on @displayDate(post.getCreatedAt) by @post.getUser</div>
            <img src="@routes.Assets.versioned(post.getImagePath)" width="400px" alt="placeholder"/>
        </div>
    </div>
    <div>
        <div >
            <h2>Description</h2>
            <p>@post.getDescription</p>
        </div>
        <div>
            <h2>Comments</h2>
            <div style="display: flex;
                align-items: center">
                <div>@post.getLikes.length </div>
                @helper.form(action = routes.PostController.pressedLike(post.getId)) {
                    @helper.CSRF.formField
                    @if(post.hasUserLiked("test")) {
                        @likeButtonLiked()
                    } else {
                        @likeButton()
                    }
                }
            </div>
        </div>
        <div>
            <div>
                @for(comment <- post.getComments) {
                    <div>@comment.user: @comment.content</div>
                }
            <label for="comment"></label>
            <textarea id="comment" name="comment" rows="4" cols="50" placeholder="Write a comment"></textarea>
            </div>
        </div>
    </div>
</div>
