@(post: Post)(implicit request: RequestHeader)

@main("Post") {
    @navbar("Post")
    @request.flash.data.map { case (name, value) =>
    <div>@name: @value</div>
    }
    <div style="display: flex;
        padding: 50px">
        <div style="display: flex;
            justify-content: center;
            min-width: 70%">
            <div style="display: flex;
                flex-direction: column">
                <div style="display: flex;
                    justify-content: space-between">
                    <div title="@utils.displayDateTime(post.getCreatedAt)">
                        Added on @utils.displayDate(post.getCreatedAt) by @post.getUser</div>
                    <div style="display: flex">
                        <div>@post.getLikes.length</div>
                        @helper.form(action = routes.PostController.pressedLike(post.getId)) {
                            @helper.CSRF.formField
                            @if(post.hasUserLiked(utils.getSessionUsername(request.session).get)) {
                                @likeButtonLiked()
                            } else {
                                @likeButton()
                            }
                        }
                    </div>
                </div>
                <img src="@routes.Assets.versioned(post.getImagePath)" width="800px" alt="placeholder"/>
            </div>
        </div>
        <div style="min-width: 30%">
            <div>
                <h4>Description</h4>
                <p>@post.getDescription</p>
            </div>
            <h4>Comments</h4>
            @helper.form(action = routes.PostController.addComment(post.getId)) {
                @helper.CSRF.formField
                <div style="display: flex;
                    flex-direction: column">
                    <label for="comment"></label>
                    <textarea id="comment" name="comment" rows="4" cols="50" placeholder="Write a comment"></textarea>
                    <button style="align-self: flex-start" type="submit">Submit Comment</button>
                </div>
            }
            <div>
                <div style="display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px">
                @for((comment, index) <- post.getComments.zipWithIndex) {
                    <div style="display: flex;
                        justify-content: space-between;
                        align-items: start;
                        height: 25px;
                        ">
                        <div><i>@comment.user:</i>
                            @comment.content</div>
                        @if(comment.user == utils.getSessionUsername(request.session).get) {
                            @helper.form(action = routes.PostController.removeComment(post.getId, index)) {
                                @helper.CSRF.formField
                                <button type="submit">X</button>
                            }
                        }
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
}
