<div style="display: flex;
    justify-content: center;
">
    <div style="display: flex;
        flex-direction: column;
        ">
        <div style="display: flex;
            align-items: center; ">
            <button style="display: inline-flex;
                justify-content: center;
                align-items: center;">
                Select Picture
            </button>
            <label>
                <input
                        style="display: flex"
                        placeholder="picture location"
                />
            </label>
        </div>
        <div style="display: flex;
            flex-direction: column;">
            <label for="description" style="">
                Description
            </label>
            <textarea
                    id="description"
                    style=""
                    rows="6"
                    placeholder="Enter a description..."
            ></textarea>
        </div>
        <div style="display: flex;
            gap: 1rem;
            justify-content: flex-end">
            <button style="display: inline-flex;

                justify-content: center;
                align-items: center;
                ">
                Cancel
            </button>
            <button style="display: inline-flex;

                justify-content: center;
                align-items: center;
                ">
                Submit
            </button>
        </div>
    </div>
</div>